/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199.98px) {

h1{
    font-size: 38px;
}

.navbar .navbar-nav li {
	margin-left: 25px;
}
.singel-testimonial-img img {
	width: 120px;
	height: 120px;
}
.blog-post .singel-blog .blog-meta ul li {
	margin-right: 30px;
}



}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991.98px) {

.header-social-meadia {
	padding-top: 5px;
}

.navbar-collapse {
	text-align: center;
}
.navbar-collapse .navbar-nav li {
	margin: 0;
	line-height: 33px;
}

.banner-image {
	text-align: center;
}
.protfolio-catagory .nav-item a span {
	font-size: 18px;
}

.protfolio-content {
	text-align: center;
}
.protfolio-content .protfolio-item-content {
	padding: 50px 30px 0;
}


#testimonial {
	padding-bottom: 95px;
}
.place-image ul li:nth-child(1) {
	left: 50%;
}
.place-image ul li:nth-child(2) {
	left: 25%;
	top: -65px;
}
.place-image ul li:nth-child(3) {
	left: 24%;
}
.place-image ul li:nth-child(4) {
	left: 48%;
	top: 162px;
}
.singel-testimonial-img {
	display: inline-block !important;
	margin: 0 0 140px 11%;
}

.action-form {
	margin-top: 30px;
}

.blog-nav .navbar-collapse {
	background: #1754fa;
    z-index: 999;
}
.blog-nav.sticky .navbar-collapse {
	background: #fff;
}




}

 
/* small mobile :320px. */
@media (min-width: 576px) and (max-width: 767.98px) {

h1{
    font-size: 38px;
}

.header-social-meadia {
	padding-top: 5px;
}

.navbar-collapse {
	text-align: center;
}
.navbar-collapse .navbar-nav li {
	margin: 0;
	line-height: 33px;
}

.header-social-meadia {
	padding-top: 5px;
}

.banner-image {
	text-align: center;
}
.protfolio-catagory .nav-item a span {
	font-size: 18px;
}

.protfolio-content {
	text-align: center;
}
.protfolio-content .protfolio-item-content {
	padding: 50px 30px 0;
}



#testimonial {
	padding-bottom: 95px;
}
.place-image ul li:nth-child(1) {
	left: 50%;
}
.place-image ul li:nth-child(2) {
	left: 23%;
	top: -65px;
}
.place-image ul li:nth-child(3) {
	left: 22%;
}
.place-image ul li:nth-child(4) {
	left: 48%;
	top: 162px;
}
.singel-testimonial-img {
	display: inline-block !important;
	margin: 0 0 140px 11%;
}

.action-form {
	margin-top: 30px;
}

.footer-support {
	padding-bottom: 5px;
}
.blog-post .singel-blog .blog-meta ul li {
	margin-right: 25px;
}
.blog-details .blockquote {
	padding: 20px 46px;
}

.blog-nav .navbar-collapse {
	background: #1754fa;
    z-index: 999;
}
.blog-nav.sticky .navbar-collapse {
	background: #fff;
}


}
 
/* Large Mobile :480px. */
@media only screen and  (max-width: 575.98px) {

h1{
    font-size: 20px;
}
p{
    font-size: 14px;
}
.main-btn {
	font-size: 13px;
	line-height: 35px;
	padding: 0 20px;
}

.header-address ul li {
	font-size: 13px;
    margin: 0;
}

.navbar-collapse {
	text-align: center;
}
.navbar-collapse .navbar-nav li {
	margin: 0;
	line-height: 33px;
}

.banner-content ul li {
	margin-right: 20px;
}
.banner-content ul li:last-child {
	margin-right: 0px;
}

.about-text ul {
	width: 100%;
}
.about-text ul li {
    font-size: 14px;
}
#testimonial {
	padding: 100px 0;
}
.singel-testimonial-img img {
	margin: auto;
}
.action-form {
	margin-top: 30px;
}

.footer-support ul li a {
	font-size: 14px;
}

.footer-support ul li {
	margin-right: 11px;
}


.protfolio-catagory .nav-item {
	position: relative;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	width: 50%;
}
.protfolio-content {
	padding-left: 15px;
	padding-right: 15px;
}
.protfolio-catagory .nav-item a i {
	font-size: 40px;
}
.protfolio-catagory .nav-item a span {
	padding: 20px 0;
	font-size: 14px;
}

.protfolio-catagory .nav-item a .flaticon-speed {
	top: -14px;
	left: 46%;
	font-size: 40px;
}

.protfolio-content .protfolio-item-content {
	padding-top: 30px;
}
.protfolio-catagory .nav-item a {
	border: 1px solid #dfdfdf;
}

.protfolio-catagory .nav-item:nth-of-type(1) a {
	border-right: 0;
	border-bottom: 0;
}
.protfolio-catagory .nav-item:nth-of-type(2) a{
    border-bottom: 0;
    }
.protfolio-catagory .nav-item:nth-of-type(3) a {
	border-right: 0;
}
.protfolio-catagory .nav-item:nth-of-type(4) a{}


.blog-nav .navbar-collapse {
	background: #1754fa;
    z-index: 999;
}
.blog-nav.sticky .navbar-collapse {
	background: #fff;
}

.blog-post .singel-blog .blog-meta ul li a,
.blog-details .blog-meta ul li a{
	font-size: 14px;
}
.blog-post .singel-blog .blog-meta ul li,
.blog-details .blog-meta ul li {
	margin-right: 18px;
}

.blog-details .blockquote {
	padding: 20px;
}
.comments .singel-comments .comments-thum {
	float: none;
}
.comments .singel-comments .comment-text{
    padding-left: 0;
    margin-top: 30px;
}
.comment-replay {
	padding-left: 0;
}



}
